<div class="container">
  <div class="gacha-container">
    <h2>今日はハイキング！</h2>
    <p>どんな秋が見つかるかな？</p>
    <div><img src = 'images/kouyou_family.png'></div>
    <div><button class="gacha-button" onclick="location.href='/loading'">
      秋を探しにいく
    </button></div>
    </div>
</div>