<div class="container">
  <div class="gacha-container">
    <h2>ガチャを回して、小さい秋を見つけよう！</h2>
    <img src = 'images/kouyou_family.png'>
    <button class="gacha-button" onclick="location.href='/loading'">
      秋を探しにいく
    </button>
  </div>
</div>